<legend>Invitations</legend>
<% if @invitations.count == 0 %>
<div class="alert"><strong>Diantre !</strong> Vous n'avez aucune invitation</div>
<% else %>
  <% @invitations.each do |invitation| %>
    <div class="box box-fixed">
      <div class="box-inner">
        <% unless invitation.me_user.images.first.nil? %>
          <%= image_tag invitation.me_user.images.first.gethtmlurl %>
        <% end %>
      </div>
      <div class="smartreader">
        <h2><%= invitation.me_user.nickname %></h2>
        <p><%= invitation.message %></p>
        <%= link_to "Accepter" , :action => "accepter" , :id => invitation.id %>
        <%= link_to "Refuser" , :action => "refuser" , :id => invitation.id %>
      </div>
    </div>
  <% end %>
<% end %>
