<!--
Template to use with ruby -Demo-
Author : Jean-Hugues Gilbert

Suivi :
    -- Version : 0.0.1 (Alpha)
        - Intégration du bootstrap twitter

-->
<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000/" />
    <title>Hitman Seeker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style_windows8.css">
    <link rel="stylesheet" href="stylesheets/chat.css">
    <link rel="stylesheet" href="stylesheets/sexyitems.css">
    <script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/smart-ajax.js"></script>
    <script type="text/javascript" src="javascripts/navbar-collapse.js"></script>
    <script type="text/javascript" src="javascripts/smart-mail.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript">
      $("document").ready(function() {
        _Col.Register($(".navbar-collapser")); // demo effect

      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-collapse">
        <div class="navbar-collapse-inner">
          <div class="navbar-side-left">
            <div>
              <div style="display: inline-block;">
                <img src="images/avatar.jpg" style="width: 92px; height: 92px;" >
              </div>
              <div style="display: inline-block; font-weight: bold; vertical-align: top; padding: 5px;">
                <%=getMyName%><br>Online
              </div>
            </div>
            <div>
              <ul class="tower-choice font-white">
                <li onmouseup="SmartAjax.Fill($('.navbar-side-right'), 'profil/form');">Paramètres</li>
                <li>Amis</li>
                <li>Messages</li>
                <li>Notifications</li>
              </ul>
            </div>
          </div>
          <div class="navbar-side-right">
            <div>N/A</div>
          </div>
        </div>
      </div>
      <div class="navbar-inner" style="background-color: whitesmoke; background-image: none;">
        <a id="navbar-logo" class="brand" style="margin:0; padding: 0; margin-top: 4px; margin-left: 4px;" href="#"><img src="images/logo.png"></a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/profil/form">Mon profil</a></li>
          <li><a href="/amis/afficher">Amis (<%= get_nb_friends %>) </a></li>
          <li><a href="/invitation/afficher">Invitations (<%= get_nb_invitations %>) </a></li>
          <li><a href="/mailing/read">Messages</a></li>
          <li><a href="/user/logout">Déconnexion</a></li>
        </ul>
        <%= form_tag("/rechercher/afficher", {:method => :get, :class => "navbar-search pull-right" , :style => "margin-right: 20px;"}) %>
        
          <div class="input-append">
            <%= text_field :query , :val , {:value => flash[:query] }%>
            <% content_tag :button, :type => :submit, :class => "btn" do %>
              <i class="icon-search"></i>
            <% end %>
          </div>
        </form>
        
        <button class="btn btn-danger pull-right navbar-collapser" style="margin-right: 5px;"><%=getMyName%></button>
      </div>
    </div>
    <div class="container-narrow" style="margin-top:50px">
      <%= yield  %>
    </div>

    <div class="mail-bar">
      
    </div>
<% unless session[:user].nil? %>
    <script type="text/javascript">
        var mEngine = new Mailing();
        mEngine.init(<%= session[:user].id %>,'<%= session[:user].nickname %>', <%= getJSFriends  %> );
    </script>
<% end %>

    <div class="footer" style="text-align: center;">
      &copy; Hitman Seeker, Jean-Hugues GILBERT &amp; Xavier TALANDIER
    </div>
  </body>
</html>
