
<!--
Template to use with ruby -Demo-
Author : Jean-Hugues Gilbert

Suivi :
    -- Version : 0.0.1 (Alpha)
        - Intégration du bootstrap twitter

-->
<!DOCTYPE html>
<html>
  <head>
    <title>Hitman Seeker</title>
    <base href="http://localhost:3000" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style_windows8.css">
    <link rel="stylesheet" href="stylesheets/chat.css">
    <link rel="stylesheet" href="stylesheets/sexyitems.css">
    <script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/smart-ajax.js"></script>
    <script type="text/javascript" src="javascripts/navbar-collapse.js"></script>
    <script type="text/javascript" src="javascripts/smart-mail.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript">
      $("document").ready(function() {
         <% unless session[:user].nil? %>
        var mEngine = new Mailing();
        mEngine.init(<%= session[:user].id %>,'<%= session[:user].nickname %>');
        <% end %>
      $("document").ready(function() {
        _Col.Register($(".navbar-collapser"));

      });
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a id="navbar-logo" class="brand" style="margin:0; padding: 0; margin-top: 4px; margin-left: 4px;" href="#"><img src="images/logo.png"></a>
        <ul class="nav">
          <li><a href="/user/loginform/">Connexion</a></li>
          <li><a href="/inscription/form">Inscription</a></li>
        </ul>
      </div>
    </div>
    <div class="container-narrow">
      <div class="header">
        <div class="header-inner">
          <span style="font-size: 30px !important;">Envoyez à votre chère et tendre un dernier cadeau</span>
        </div>
      </div>
      <div class="block last-news">
        <%= yield %>
      </div>
    </div>

    <div class="footer" style="text-align: center;">
      &copy; Hitman Seeker, Jean-Hugues GILBERT &amp; Xavier TALANDIER
    </div>
  </body>
</html>
