<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="thumb">
  <img class="thumb-img" src="<%= @object[:img_src] %>" />
  <div class="smartreader">
    <h5><%= @object[:title] %></h5>
    <%= @object[:content] %>
  </div>
</div>