<legend>Connexion</legend>
<div style="margin-left: 15px;">
<% unless @err.nil? %>
    <b style="color:red"><%= @err %></b><br />
<%end%>
<%= form_tag :controller => 'user' , :action => 'login' %>
  <label>Email :</label>
  <%= text_field :user, :email %><br />
  <label>Mot de passe :</label>
  <%= password_field :user, :password %><br />
  <label>Mot de passe :</label>
  <%= submit_tag 'Connexion' , :class => 'btn' %>
</form>
</div>


