<%= link_to @user.blocked ? "Debloquer" : "Bloquer" ,
  :controller => "admin" ,
  :action => @user.blocked ? "unlock" : "lock" ,
  :id => @user.id %>

<%= link_to @user.confirmed ? "Deconfirmer" : "Confirmer" ,
  :controller => "admin" ,
  :action => @user.confirmed ? "unconfirm" : "confirm" ,
  :id => @user.id %>

<%= button_to "Supprimer" ,
  {:controller => "admin" , :action => "kill", :id => @user.id},
  :confirm => "Action irrevocable. Continuer ?"%>
