<form id="form_params"method="GET">
	<legend>Parametres de connexion</legend>
	<table class="table-simple">
		<tr>
			<th><label>Me voir en ligne</label></th>
			<td><input name="seeonline" type="checkbox" /></td>
		</tr>
	</table>
</form>