<table style="width: 100%;">
  <tr>
    <td valign="top">
      <%= render :file => 'user/loginform.erb' %>
    </td>
    <td valign="top">
      <%= render :file => 'inscription/form.erb' %>
    </td>
  </tr>
</table>
