<legend>Messages</legend>
<%
#@users    = get_users_messages_of flash['id']
last_id = -1
%>

<div class="row-fluid">
  <div class="container-fluid">
    <div class="span4">
      <legend>Utilisateurs</legend>
      <div>
        <ul class="tower-choice font-white">
          <% @friends_all.each do |u| %>
            <li class="bkg-red"><a href="mailing/read/<%= u.id %>" class="font-white"><%= u.nickname %></a></li>
          <% end %>
          <li class="bkg-yellow"><a href="mailing/read/0" class="font-white">Administrateur</a></li>
        </ul>
      </div>
    </div>
    <div class="span8">
      <legend><%= User.get_name_by_id(flash['id_select']) %></legend>
      <div class="mail-static-inner">
        <%
        bNewUser = false
        unless @messages.nil? || @messages.size == 0
          @messages.each do |m|

            bNewUser = false
            if last_id != m.me_user.id then
              bNewUser = true
            end

            if bNewUser then
              if last_id != -1 then %>
              </div>
            <% end %>
            <div class="squared-block bkg-black font-white">
              <%= m.me_user.nickname %>
            </div>
            <div class="mail-reader bkg-white">
            <% end %>
            <div class="mail-time pull-right"><%= m.created_on %></div><div><%= m.message %></div>

            <%
            last_id = m.me_user.id
          end
        %>
        </div>
      <% else %>
        <div>
          Aucun message.
        </div>
      <%  end %>
    </div>
    <div class="mail-static-input">
      <div class="input-append">
        <%= form_tag ({:action => 'send_static_mail'}, :multipart => true) %>
        <%= hidden_field_tag 'id_from', session[:user].id %>
        <%= hidden_field_tag 'id_to', @id %>
        <%= text_field_tag 'content', '', :class => 'mail-static-input', :placeholder => 'Type your message here.' %>
        <%= submit_tag 'Send', :class => 'mail-static-submit btn' %>
        </form>
      </div>
    </div>
  </div>
</div>
</div>