.mail-bar {
    position: fixed;

    left: 0;
    bottom: 0;

    z-index: 1000;

    width: 100%;
}

.mail-convers {
    width: 250px;
    height: 250px;

    display: none;


    border: 1px solid rgba(128,128,128,0.5);
    box-shadow: 1px 1px 15px rgba(0,0,0,0.5);

}

.mail-header {
    position: relative;

    background-color: darkred;

    text-align: right;

    padding-right: 10px;

    font-weight: bold;

    width: 100%;
    height: 20px;
    line-height: 20px;

    color: white;
    text-shadow: 1px 1px rgba(128,128,128,0.5);
}

.mail-inner {
    position: relative;

    overflow: auto;

    background-color: whitesmoke;


    width: 100%;
    height: 201px;
}

.mail-line {
    width: auto;

    padding-left: 5px;

    min-height: 20px;
    line-height: 20px;

    border-bottom: 1px solid lightgray;
}

.mail-header-line {
    background-color: rgba(0,0,0,0.8);

    padding-left: 10px;

    color: white;
}

.mail-input {
    height: 30px;
    width: 250px;
}

.mail-input input {
    width: 193px;
}

.mail-input button {
    width: 45px;
}

.mail-time {
    position: relative;

    font-size: 9px;
    color: lightgray;

    padding-right: 5px;

    text-shadow:1px, 1px, rgba(255,255,255,0.5);
}

.mail-reader {
    width: 94%;

    padding: 10px;

    box-shadow: inset 1px 1px 10px rgba(128,128,128,0.5);
}

.mail-static-inner {
    width: 100%;
    max-height: 400px;

    overflow: auto;
}

.mail-static-input {
    width: 90%;
}

.mail-static-submit {
    width: 10%;
}