.sexyitem {
    width   : auto;
    margin  : 5px;
    padding : 2px 5px;
    color   : white;
    float   : left;
    background-color : #005580;
    border-radius    : 10px;
    font-weight      : bolder;
}
.sexyitem span {
    float: left;
}

.sexyitem a {
    margin-left : 10px;
    float  : right;
}

.break {
    clear: both;
}