<legend>Confirmation</legend>

<% if @user.nil? %>
<div class="alert alert-error"><strong>Erreur ...</strong> Compte inconnu.</div>
<% else %>
<div class="alert alert-success">
  <strong>Bonjour <%= @user.nickname %></strong>
  Cliquez <%= link_to 'ici' , {:controller => 'user' , :action => 'loginform'} %> pour vous connecter !
</div>
<% end %>