<legend>Créer un compte</legend>
<% unless @user.nil? or @user.errors.count == 0%>
  <% @user.errors.each do |attr , msg|%>
    <b style="color:red"><%= attr + " : "+ msg%></b><br />
  <%  end %>
<%end%>
<%= form_tag :controller => 'inscription' ,  :action => 'new' %>
  <label>Pseudo :</label>
  <%= text_field :user, :nickname %><br />
  <label>Email :</label>
  <%= text_field :user, :email %><br />
  <label>Mot de passe :</label>
  <%= password_field :user, :password %><br />
  <label>Je suis :</label>
  <%= select :user, :etre , [['Un Tueur' , 'killer'] , ['Un client' , 'client']]%>
  <br />
  <%= submit_tag 'Créer un compte' , :class => 'btn' %>
</form>
