<html>
  <head>
    <title>Confirmation</title>
  </head>
  <body>
    Bonjour <%= @user.nickname %>
    <br />
    Pour activer votre compte, cliquer ici:
    <a href="<%= @user.get_confirm_url %>"><%= @user.get_confirm_url %></a>
  </body>
</html>
