<legend>Amis</legend>
<% if @user.occurances_as_me_user.count == 0 %>
  <h1>Vous n'avez pas d'ami</h1>
<% else %>
  <% @user.occurances_as_me_user.each do |friend|%>
      <div class="box box-fixed">
        <div class="box-inner">
          <% unless friend.friend_user.images.first.nil? %>
            <%= image_tag friend.friend_user.images.first.gethtmlurl %>
          <% end %>
        </div>


        <div class="smartreader">
          <h1>
            <%= link_to friend.friend_user.nickname , :action => "profil" , :id => friend.friend_user.id %>
            <%= generate_mailing_button(friend.friend_user.id) %>
            <%= generate_delete_button(friend.friend_user.id) %>
          </h1>
        </div>

      </div>
    <% end%>
<% end%>
