<legend>
  <%= @user.nickname %>
  <div class="pull-right">
    <% if @user.is_my_friend  %>
      <%= generate_mailing_button(@user.id) %>
      <%= generate_delete_button(@user.id) %>
    <% end %>
  </div>
</legend>
<table style="width: 100%">
  <tr>
    <td style="line-height: 50px; vertical-align: top; width: 260px;">
      <% unless @user.images.first.nil? %>
        <%= image_tag @user.images.first.gethtmlurl, :class => 'profil-img' %>
      <% end %>
    </td>
    <td style="line-height: 50px; vertical-align: top; padding-left: 15px;">
      <h3><%= @user.tagline  %> </h3>
      <div class="well well-small"><%= @user.description %></div>


      <strong>Tags : </strong>
      <% @user.keywords.each do |keyword| %>
        <span class="badge badge-success" style="line-height: 20px;" data-id="<%=keyword.id%>">
          <span style="margin-right: 5px;"><%= keyword.keyword %></span>
        </span>
      <% end %>

      
      <% if @user.is_invited_by_me %>
      <div class="alert alert-info"><strong>Patience !</strong> Invitation en attente de confirmation.</div>
      <% else %>
        <legend>Inviter</legend>
        <%= form_tag url_for(:controller => "invitation" , :action => "inviter" , :id => @user.id.to_s) %>
        <%= text_area :invitation , :message , :style => 'height : 50px' %><br/>
        <%= submit_tag "Inviter" , :class => 'btn btn-info' %>
        </form>
      <% end %>
    </td>
  </tr>
</table>

<hr />
<% if session[:user].etre == "admin" %>
  <%= render "admin/profil"%>
<% end %>
