<legend>Recherche</legend>
<div style="margin-left: 30px;">
  <% form_tag do%>
  <fieldset>
      
      <%= text_field :query , :val , {:value => flash[:query] , :placeholder => 'Mots clés' }%>
     <label class="checkbox">
        <%=  check_box(:query , "killer", {}, "Killer")%> Tueur<%=  check_box(:query , "client", {}, "Client")%> Client
     </label>
     <label class="checkbox">
      <%=  check_box(:query , "client", {}, "Client")%> Client
     </label>
     <%= submit_tag 'Rechercher' , :class => 'btn btn-success' %>
  </fieldset>
  <% end %>
</div>
<center>
<% @users.each do |user| %>
  <div class="box box-fixed">
    <div class="box-inner">
      <% unless user.images.first.nil? %>
        <%= image_tag user.images.first.gethtmlurl %>
      <% end %>
    </div>
    <div class="smartreader">
      <h2>
        <% link_to :controller => "amis" , :action => "profil" , :id => user.id do %>
          <%= user.nickname %>
        <% end %>
      </h2>
      <p><%= user.tagline %></p>
    </div>
  </div>
<% end %>
</center>
