<legend>Profil</legend>

<% unless @errors.empty? %>
  <div class="alert alert-error">
    <% @errors.each do |k,e| %>
      <%= k %><br/>
    <% end %>
  </div>
<% end %>
<table style="width: 100%;">
  <tr>
    <td style="width: 50%;">
<%= form_tag ({:action => 'save'}, :multipart => true) %>
<fieldset>
  <span class="hidden">
  </span>
  <legend><%= @user.nickname %></legend><br/>
  <%= label_tag 'email', 'Email' %> <%= text_field_tag 'email', @user.email %>
  <%= label_tag 'passwd', 'Password' %> <%= password_field_tag 'passwd' %>

  <%= label_tag 'tagline', 'Tag Line' %> <%= text_field_tag 'tagline', @user.tagline %>
  <%= label_tag 'descript', 'Description' %> <%= text_area_tag 'descript', @user.description %>

  <%= label_tag 'upload', 'Avatar'  %>
  <% unless @images.nil? %>
    <div class="box box-fixed">
      <div class="box-inner">
        <img alt="Avatar" src="<%= Image.get_path(@images) %>" />
      </div>


      <div class="smartreader">
        <!-- <button id="filechooser"  value="Choose">Choose</button> -->
        <%= file_field 'upload', 'datafile' %>
      </div>

    </div>
  <% else %>
    <%= file_field 'upload', 'datafile' %>
  <% end %>
  <br/><br/>
  <%= submit_tag "Sauvegarder", :class => "btn btn-success" %>
</form>
</fieldset>
    </td>


    <td valign="top" style="padding-left: 15px; width: 50%;">
      <div id="tagslist">
        <legend>
          Tags
          <div class="input-append pull-right">
            <%= form_tag ('' , :id => "formtags") %>
              <%= text_field_tag :txtkeyword %>
              <%= submit_tag "+", :class => "btn" %>
            </form>
          </div>
        </legend>
        <% @user.keywords.each do |keyword| %>
        <span class="badge badge-success" style="line-height: 20px;" data-id="<%=keyword.id%>">
          <button type="button" class="close" data-dismiss="badge">&times;</button>
          <span style="margin-right: 5px;"><%= keyword.keyword %></span>
        </span>
        <% end %>
      </div>
    </td>
  </tr>
</table>


<div style="display: none" id="template_tag">
      <span class="badge badge-success" style="line-height: 20px;" data-id="{id}">
        <button type="button" class="close" data-dismiss="badge">&times;</button>
        <span style="margin-right: 5px;" class="tag-value">{value}</span>
      </span>
</div>
<script type="text/javascript">
var availableTags = [
  <% @keywords.each do |keyword| %>
      "<%= keyword.keyword %>",
  <% end %>
  ''
];
 $(document).ready(function(){
   $('#formtags').submit(function(e){
     e.preventDefault();
     $.get('profil/tagadd/' , {
       tag : $('#txtkeyword').val()
     } , function(data){
       data = eval('(' + data + ')');
       var $tmpl = $('#template_tag').html();
       $tmpl = $tmpl.replace('{id}' , data.keyword.id).replace('{value}' , data.keyword.keyword);
       $tmpl = $($tmpl);
       // Bind click
       $tmpl.find('button').click(function(){
         btnclose_click($(this));
       });
       // Add to list
       $tmpl.appendTo($('#tagslist'));
     });
   });
  $('#txtkeyword').autocomplete({
    source: availableTags
  });
  $('.close').each(function(){
    $(this).click(function(e){
      btnclose_click($(this))
    });
  });
});

function btnclose_click($this){
  var $parent = $this.parent();
  var id = $parent.attr('data-id');
   $.get('/profil/tagremove/' + id , function(data){
    if(data != 'ok'){
      alert('Une erreure est survenue');
    }else{
      $parent.remove();
    }
  });
}
</script>


<% unless @images.nil? %>
  <script type="text/javascript">
    $("document").ready(function() {
      $("#filechooser").click(function(e) {
        $(":form").find(":file").click();
        e.preventDefault();
      });
    });
  </script>
<% end %>

