<legend><%= @user.nickname %> <div><a href="profil/form" class="btn pull-right">Modifier</a></div></legend>
<h3 style="font-style: italic;"><%= @user.tagline %></h3>
<%
image_src = ""
unless @images.nil?
    image_src = Image.get_path(@images)
else
    image_src = "public/images/avatar.jpg"
end
%>

<table style="border:1px solid rgba(128,128,128,0.5);">
  <tr>
    <td>
      <div class="box box-fixed">
            <div class="box-inner">
              <img alt="Avatar" src="<%= image_src %>" />
            </div>
      </div>
    </td>
    <td>
      Email : <%= @user.email %> <br/>
      
    </td>
  </tr>
</table>

<%= form_tag ({:action => 'save'}, :multipart => true) %>
<fieldset>
  <span class="hidden">
  </span>
  <span style="font-weight: bold;"><%= @user.nickname %></span><br/>
  <%= label_tag 'email', 'Email' %> <%= text_field_tag 'email', @user.email %>
  <%= label_tag 'passwd', 'Password' %> <%= password_field_tag 'passwd' %>

  <%= label_tag 'upload', 'Avatar'  %>
  <% unless @images.nil? %>
    <div class="box box-fixed">
      <div class="box-inner">
        <img alt="Avatar" src="<%= Image.get_path(@images) %>" />
      </div>


      <div class="smartreader">
        <!-- <button id="filechooser"  value="Choose">Choose</button> -->
        <%= file_field 'upload', 'datafile' %>
      </div>

    </div>
  <% else %>
    <%= file_field 'upload', 'datafile' %>
  <% end %>
  <br/><br/>
  <%= submit_tag "Upload", :class => "btn" %>
</fieldset>
