<div class="navbar navbar-fixed-top">
  <div class="navbar-collapse">
    <div class="navbar-collapse-inner">
      <div class="navbar-side-left">
        <div>
          <div style="display: inline-block;">
            <img src="img/avatar.jpg" style="width: 92px; height: 92px;" />
          </div>
          <div style="display: inline-block; font-weight: bold; vertical-align: top; padding: 5px;">
							Jean-Hugues Doe<br>Online
          </div>
        </div>
        <div>
          <ul class="tower-choice">
            <li onmouseup="SmartAjax.Fill($('.navbar-side-right'), 'profil/form');">Paramètres</li>
            <li>Amis</li>
            <li>Messages</li>
            <li>Notifications</li>
          </ul>
        </div>
      </div>
      <div class="navbar-side-right">
        <div>lol</div>
      </div>
    </div>
  </div>
  <div class="navbar-inner" style="background-color: whitesmoke; background-image: none;">
    <a id="navbar-logo" class="brand" style="margin:0; padding: 0; margin-top: 4px; margin-left: 4px;" href="#"><img src="img/logo.png"></a>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <form class="navbar-search pull-right" style="margin-right: 20px;">
      <div class="input-append">
        <input type="text" class="span3" placeholder="Search">
        <button  type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
    </form>
    <a class="btn btn-danger pull-right navbar-collapser" style="margin-right: 5px;" href="#">Profil</a>
  </div>
</div>